@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

.metallicEffect {
    background: linear-gradient(12deg,#c9ccd3 0%,#ffffff 30%,#ffffff 60%,#c9ccd3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}



@theme {
    --color-gradient1: #0f1f1f;
    --color-gradient2: #111827;
    --color-gradient3: #0c0c0c;
    --font-primary: "Ubuntu", sans-serif;
    --font-secondary: "Poppins", sans-serif;
    --font-more: "Source Code Pro", sans-serif;
}

@media (max-width:450px){
    .textt{
        font-size: 3.5rem;
        line-height: 60px;
        text-align: left;
        font-weight: bold;
    }
}